* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    /* Rectangle 3 */
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 912px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1924px;

}

.subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 14px;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

.disciption {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.btn {
    padding: 14px 18px 14px 18px;
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(104, 249, 0);
    border: none;
}

.btn:hover {
    background-image: linear-gradient(gray, rgb(219, 219, 203));
    transition: color 2s;
    color: rgb(255, 255, 255);
}

.btn-container {
    text-align: center;
}

.cird-section{
    margin: 100px  100px;
}


.content {
    width: 1320px;
}

.title-1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;
}

.subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}



.cird-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}

.cird {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 20px 5px rgb(155, 147, 147);
    border-radius: 10px;
}

.img-box {
    width: 250px;
}

.img-box img {
    width: 100%;
}

.cird .shop {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 10px 18px 10px 18px;
}

.list-section {
    /* image 1 */
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    align-items: center;


}






.text-head {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 60px;
    margin-top: 10px;
}

.text-title {
    width: 60%;
}

.style {
    text-align: center;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-top: 20px;
}

.styles {
    text-align: center;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    padding: 10px;
}

.inner {
    /* padding: 10px 10px 10px 290px; */
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 10px;
   
}

.inner-img{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.icon-style{
    padding: 10px;
}

.fa-facebook{
    color: rgb(24, 159, 255);
}
.fa-x-twitter{
    color: rgb(0, 0, 0);
}
.fa-instagram{
    color: #ee5c57;
}
.fa-pinterest{
   color: rgb(225, 49, 56)
}


.foot-title {
    background-image: linear-gradient(200deg, rgb(243, 229, 229) , rgba(234, 231, 231, 0) ), url(../assets/social-bg.png);
    background-size: cover;
    height: 735px;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;

}

.food-img {
    text-align: center;
    margin: auto 0;
}

.foot-head {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.foor-para {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 20px;
}

.hr-line {
    box-sizing: border-box;
    border-bottom: 2px solid rgba(16, 16, 16, 0.2);
    border-top: 2px solid rgba(16, 16, 16, 0.2);
}

.foot-para2 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    padding: 10px;
}

.img-title{
  
    display: flex;
    justify-content: center;
   font-size: 25px;
   cursor: pointer;
    
}

.img-title div img{
    width: 50px;
    height: 5dvh;
    margin: 20px 10px;
    cursor: pointer;
}
